/*Zerando a página do navegador*/
*{
    margin: 0px;
}
body{
    background: url('../imagens/cateria15.jpg') fixed;
}
/*================================INDEX.HMTL====================================================*/
#estrutura {
    background-color: rgb(192, 192, 192); /* cor de fundo */
    width: 90%; /*largura*/
    margin-left: auto; /* margem a esquerda */
    margin-right: auto; /* margin a direita */
}

#estrutura #titulo {
    background-image: url("../imagens/cafeteria.jpg"); /*imagem dentro do titulo*/
    background-position: -400px -300px; /* posição x e y */
    color: rgb(255, 255, 255);
    font-size: 15pt;
    font-family: arial;
    padding-top: 10px; /*espaçamento no topo interno*/
    padding-left: 10px; /* espaçamento a esquerda */
    height: 350; /* altura do elemento */
}
/* criando uma classe no css, chamada titulo */
.titulo{
    margin-top: 400px;
}

p{
    text-align: justify;
    text-indent: 20px; /* recúo de parágrafo */
    font-family: century Gothic;
    font-size: 14pt;
}
#estrutura .menu ul{
    padding: 0px; /* espaçamento */
}

#estrutura .menu li{
    /* retira as marcas do marcador */
    list-style: none;
    /* alinhar os links na horizontal */
    display: inline-block;
    width: 239px;
    text-align: center;
    padding: 0px 0px;
}

#estrutura .menu a{
    /* a href*/
    font-family: arial;
    font-size: 10pt;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: inline-block;
    padding: 10px 0px;
}
.btn-menu{
    display:none;
}
#estrutura .menu a:hover{ /* quando o usuario passar o mouse */
    background-color: #ff9900;
    transition: 1s;
}

#estrutura .menu a.atual{ /* item de menu selecionado */
    background-color: #ff9900;
}
.opcao{
    background-color: rgb(0, 0, 0);
    color: white;
}
#estrutura #conteudo h2{
    font-family: Arial;
    font-size: 14pt;
    padding: 10px;
}
/* firmatação para o texto geral */
#conteudo h1{
    text-align: center;
}
#estrutura #conteudo .texthome{
    font-family: 'times New Roman';
    font-size: 14pt;
    line-height: 14pt;
    padding-left: 20px;
    text-align: center;
    padding: 10px;
}

img{
    max-width: 300px;
    border-radius: 50PX;
    margin: 10px;
}
img:hover{
    opacity: 0.6;
    content: attr('skldhagdsklhsaklhgdlfs');
}
.imgs-cafe, .imghome{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    text-align: center;
    background-color: wheat;
    border-radius: 10px;
}
#estrutura #conteudo .imghome{
    text-align: center;
}
/*forçar que o rodape fique no final da pagina(para baixo)*/
.abaixar{
    clear: both;
}
/*================================================================================*/

/*------------------CAFE.HTML--------------------*/
.opcao{
    text-align: center;
}
/*------------------------------------------------------------*/
#rodape{
    padding: 20px 0px; 
    font-family: arial;
    background-color: rgb(51, 44, 44);
    color: white;
    height: 60px;
    bottom: 0;
    width: 100%;
    text-align: center;
}